* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
    background-color: #231D2B;
  }
  form input{
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      width: 150px;
      height: 30px;
      margin: 0 auto;
      background-color: #34364F;
      color: #D3516B;
      padding: 10px;
      border-radius: 10px;
  }
 
  .app {
    
    background: url(./bg-stars.svg);
    color: #D3516B;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    text-align: center;
  }
  
  .header, h1 {
    text-align: center;
    font-size: 14px;
    line-height: 10;
    text-transform: capitalize;
    letter-spacing: 8px;
    color: white;
  }
 .col-4{
    display: inline-block;
    margin: 20px ;
    justify-content: center;
    align-items: center;
 }
 .box{
    display: flex;
    width: 100px;
    height: 100px;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    background: #34364F;
    border-radius: 10px;
 }
 .box p{
    font-size: 40px;
    font-weight: 1000;
 }
.text{
    color: red;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    bottom: -15px;
    color: #84849E;
    letter-spacing: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    opacity: calc(0.5);
 }
 .text b{
    color: #FBB001;
 }
img{
    width: 1250px;
    position: relative;
    bottom: -105px;
}
.courtsy{
  color: #FBB001;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-weight: bold;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media (max-width: 700px) {
    img{
        width: 300px;
        position: relative;
        bottom: 0px;
    }
}